<header class='header'>
  <div class='logo-title wrapper'>
    <img class='logo' src="images/favicon-32x32.png" alt="bar graph icon">
    <h1 class='title'><%- site.title %></h1>
  </div>
  <button
    class='mobile-nav-btn'
    aria-controls='primary-navigation'
    aria-expanded='false'>
    <hamburger-icon size='2rem'></hamburger-icon>
    <span class='visually-hidden'>Menu</span>
  </button>
  <nav id='primary-navigation' class='primary-navigation'>
    <ul aria-label='Primary' role='list' class='nav-list'>
      <li><a href="./">Home</a></li>
      <li><a href="./powerball.ejs">Powerball</a></li>
      <li><a href="./mega_millions.ejs">Mega Millions</a></li>
    </ul>
  </nav>
</header>