*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}

.header {
  height: 10vh;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  display: flex;
}

.header .logo-title.wrapper {
  align-items: center;
  display: flex;
}

.header .mobile-nav-btn {
  cursor: pointer;
  background: none;
  border: 0;
  display: none;
}

.header .primary-navigation.opened {
  display: block;
}

.header .primary-navigation .nav-list {
  gap: .5rem;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
}

.header .primary-navigation .nav-list a {
  color: #006af6;
  text-decoration: none;
}

@media screen and (max-width: 50em) {
  .header .mobile-nav-btn {
    display: block;
  }

  .header .primary-navigation {
    gap: .5rem;
    display: none;
    position: fixed;
    inset: 10vh 1rem auto;
  }

  .header .primary-navigation[data-visible] {
    display: block;
  }

  .header .primary-navigation .nav-list {
    text-align: right;
    background-color: #fff;
    display: grid;
  }
}

.main {
  min-height: 85vh;
  min-width: 320px;
  flex-flow: wrap;
  place-content: flex-start center;
  padding: 1rem;
  display: flex;
}

.main .card-link {
  color: #222;
  text-decoration: none;
}

.main .card-link .card {
  text-align: center;
  min-width: 310px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1rem;
  transition: all .1s linear;
}

.main .card-link .card:hover {
  scale: 1.01;
  box-shadow: 0 10px 10px -5px #000;
}

.main .card-link .card .section {
  width: 100%;
  padding: 1rem;
}

.main .card-link .card > :not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.footer {
  height: 5vh;
  border-top: 1px solid #ccc;
  padding: .5rem;
}

