<!DOCTYPE html>
<html>

<head>
  <%- include('_includes/head') %>
</head>

<body>
  <%- include('_includes/header') %>
  <main id='content' class='main'>
    <% const title = 'Powerball' %>
    <h1><%- title %></h1>
  </main>
  <%- include('_includes/footer') %>
</body>

</html>